:root {
 --primary: #508c33;
 --primary-dark: #3e6f27;
 --primary-light: #6aa64d;
 --bgClr: #ece5f0;
}
*,
*::before,
*::after {
 box-sizing: border-box;
}
body {
 margin: 0;
 font-family:
  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family:
  source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
