/* 1. KEEP AT TOP to prevent Vite/PostCSS errors */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary: #508c32;
  --primary-dark: #3e6f27;
  --primary-light: #6aa64d;
  --bgClr: #ece5f0;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-bgClr: var(--bgClr);
  
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-montserrat);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
